kubectl create secret generic rails --from-literal=master-key=master-key

kubectl create secret generic postgres --from-literal=password=postgres-password

kubectl create secret generic super-admin --from-literal=password=super-admin-password

kubectl create secret generic mapbox --from-literal=token=mapbox-token

kubectl create secret generic google-analytics --from-literal=tracking-id=tracking-id

kubectl create secret generic mailjet \
  --from-literal=MAILJET_API_KEY=mailjet-api-key \
  --from-literal=MAILJET_SECRET_KEY=mailjet-secret-key

kubectl create secret generic google-cloud-storage-config \
  --from-literal=GCS_PROJECT_ID=google-project-id \
  --from-literal=GCS_CREDENTIALS="$(< masajid-active-storage-service-account.json)" \
  --from-literal=GCS_BUCKET_NAME=masajid-active-storage-bucket
